extends layout

block content
  form(method='POST')
    input(type='text' placeholder='Username' name='username')
    input(type='email' placeholder='Email' name='email')
    button(type='submit') Submit